.navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: transparent;

  //*   LOGO PART
  .logoContainer {
    flex: 2;
    .logo {
      width: 170px;
      margin-left: 30px;
    }
  }
  //*    NAVLINKS PART
  .navLinks {
    flex: 7;
    margin: auto;
    .link {
      margin: auto 12px;
      font-size: 18px;
      color: var(--secondary-color);
      text-decoration: none;
    }
  }
  //* NAVBAR FEATURES
  .navbarFeatures {
    flex: 1;
    margin: auto;
    position: relative;
    .options {
      display: none;
      position: absolute;
      right: 40px;
      width: 120px;
      border: 1px solid gray;
      background-color: black;
      span {
        display: block;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 8px;
        cursor: pointer;
        color: var(--secondary-color);
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
    .searchIconContainer {
      margin-right: 18px;
      .searchIcon {
        color: var(--secondary-color);
        font-size: 28px;
        cursor: pointer;
      }
    }
    .userIconContainer {
      .userIcon {
        color: var(--secondary-color);
        font-size: 28px;
        cursor: pointer;
      }
    }
  }
}
